---
layout: default
---

<header class="hero">
    <h1>{{ site.title }}</h1>
    <p>{{ page.subtitle }}</p>
    <img src="{{ '/assets/images/goban_transparent.png' | relative_url }}" alt="Goban overlay" class="goban-overlay">
</header>

<main class="card-container">
    <div class="card">
        <h2>The Vision</h2>
        <p>{{ page.vision_text }}</p>
    </div>

    <div class="card" style="border-top-color: #2c3e50;">
        <h2>The Format</h2>
        <p>{{ page.format_text }}</p>
    </div>

    <div class="card" style="border-top-color: #1a1a1a;">
        <h2>Join Us</h2>
        <p>{{ page.join_text }}</p>
    </div>
</main>
<!-- DO NOT DELETE LEDERBOARD -->
<!--<section class="leaderboard-section">
    <h2 class="leaderboard-title">League Standings</h2>
    <div class="table-container">
        </div>
</section>-->

<section class="next-stone">
    <span>The Next Event</span>
    {% assign last_event = site.events.first %}
    {% if last_event %}
        <h3>{{ last_event.title }}</h3>
        <p>{{ last_event.date | date: "%d %B, %Y" }}</p>
        <a href="{{ '/events/' | relative_url }}">See all Events →</a>
    {% endif %}
</section>
